#vis{
    position:relative;
    width:600px;
}

#legend{
    position:absolute;
    right:0px;
    top:20px;
    width:150px;
    height:300px;
    /*background-color:blue;*/
}

.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: san-serif;
    font-size: 11px;
}